/* line 1, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/app.new.scss */
.wrapper {
  width: 100%;
  height: 100vh;
}
/* line 5, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/app.new.scss */
.wrapper .main {
  background-size: cover;
}
/* line 7, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/app.new.scss */
.wrapper .main h {
  margin-left: 30px;
  color: gray;
  font-size: 50px;
}
/* line 12, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/app.new.scss */
.wrapper .main li {
  font-variant: all-small-caps;
  font-size: x-large;
  margin-left: 30px;
  color: white;
  font-size: 20px;
}
/* line 19, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/app.new.scss */
.wrapper .main a {
  margin-left: 30px;
  color: green;
  font-weight: bold;
}
