/* line 1, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/app.index.scss */
.wrapper {
  background-image: url("/images/soba-noodles-801660_1920.jpg");
  background-size: cover;
}
/* line 4, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/app.index.scss */
.wrapper h {
  font-size: 18px;
  font: inherit;
}
