/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
    TODO will need to remove settings on HTML since we can't namespace it.
    TODO with the prefix, should I group by selector or property for weight savings?
*/
/* line 11, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/reset.scss */
html {
  color: #000;
  background: #FFF;
}

/*
  TODO remove settings on BODY since we can't namespace it.
*/
/*
  TODO test putting a class on HEAD.
      - Fails on FF.
*/
/* line 22, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/reset.scss */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* line 50, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 54, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/reset.scss */
fieldset,
img {
  border: 0;
}

/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
/* line 61, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/reset.scss */
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

/* line 74, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/reset.scss */
ol,
ul {
  list-style: none;
}

/* line 79, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/reset.scss */
caption,
th {
  text-align: left;
}

/* line 83, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 92, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/reset.scss */
q:before,
q:after {
  content: '';
}

/* line 96, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/reset.scss */
abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
/* line 102, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/reset.scss */
sup {
  vertical-align: text-top;
}

/* line 105, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 108, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/reset.scss */
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
/* line 116, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/reset.scss */
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
/* line 122, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/reset.scss */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
/* line 126, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/reset.scss */
#yui3-css-stamp.cssreset {
  display: none;
}

/* line 1, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/modules/_wrapper.scss */
.wrapper {
  width: 100%;
  height: 100vh;
}

/* line 1, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/modules/_header.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 5, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/modules/_header.scss */
.header {
  width: 100%;
  height: 50px;
  background-color: green;
  display: flex;
  align-items: center;
  opacity: 0.7;
  position: fixed;
  z-index: 1;
}
/* line 15, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/modules/_header.scss */
.header a {
  margin-left: 10px;
}

/* line 1, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/modules/_main.scss */
.main {
  width: 100%;
  height: calc(100vh - 50px);
  padding: 50px;
}
