@charset "UTF-8";
/* line 1, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/comments.edit.scss */
.wrapper {
  background-image: url("/images/milk.jpg");
  background-size: cover;
  min-height: 233vh;
  background-attachment: fixed;
  background-position: center;
}
/* line 7, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/comments.edit.scss */
.wrapper .main {
  padding-top: 50px;
}
/* line 10, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/comments.edit.scss */
.wrapper .main .edit-form .edit_comment {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  width: 70%;
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
/* line 20, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/comments.edit.scss */
.wrapper .main .edit-form .edit_comment input {
  width: 89%;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  overflow: scroll;
  height: 90px;
  line-height: 30px;
  padding-left: 5px;
}
/* line 30, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/comments.edit.scss */
.wrapper .main .edit-form .edit_comment .form__message {
  width: 89%;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  overflow: scroll;
  height: 90px;
  line-height: 30px;
  padding-left: 5px;
}
/* line 40, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/comments.edit.scss */
.wrapper .main .edit-form .edit_comment .form__submit {
  height: 50px;
  width: 10%;
  border-radius: 5px;
  background-color: lightseagreen;
  color: white;
}
