/* line 1, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.index.scss */
.main {
  background-image: url("/images/joanna-kosinska-Prfs32wh-o4-unsplash.jpg");
  background-size: cover;
}
/* line 5, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.index.scss */
.main .posts-index h1 {
  font-size: larger;
  margin-top: 30px;
}
/* line 9, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.index.scss */
.main .posts-index .posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 13, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.index.scss */
.main .posts-index .posts a {
  color: black;
}
/* line 16, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.index.scss */
.main .posts-index .posts .a-post {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 21, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.index.scss */
.main .posts-index .posts .a-post__shopname {
  display: inline-block;
}
