/* line 1, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper {
  background-image: url("/images/milk.jpg");
  background-size: cover;
  min-height: 240vh;
  background-attachment: fixed;
  background-position: center;
}
/* line 7, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .images {
  display: flex;
  justify-content: space-around;
  height: 40rem;
}
/* line 11, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .images .view {
  width: 20rem;
  margin-right: 38rem;
  margin-top: 4rem;
}
/* line 17, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .post__image {
  width: 10rem;
  margin-right: 26rem;
  margin-top: 4rem;
}
/* line 21, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .post__image img {
  width: 35rem;
  height: 35rem;
}
/* line 27, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .post-side {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  margin: top;
  margin-top: 50px;
}
/* line 34, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .post-side__title {
  display: flex;
  justify-content: space-around;
  width: 70rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: dotted;
  font-size: 2rem;
}
/* line 45, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .post-side__title .post__likes .button_to {
  display: inline-block;
  margin-right: 2rem;
}
/* line 48, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .post-side__title .post__likes .button_to button {
  background-color: transparent;
  border: none;
}
/* line 51, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .post-side__title .post__likes .button_to button .like {
  color: red;
  font-size: 30px;
}
/* line 55, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .post-side__title .post__likes .button_to button .dislike {
  color: black;
  font-size: 30px;
}
/* line 63, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .post-side__content {
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  width: 70%;
  height: 10rem;
  text-align: center;
}
/* line 71, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .post-side__sender {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  width: 70%;
  text-align: right;
}
/* line 78, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .post-side__edit {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  width: 70%;
  text-align: right;
}
/* line 85, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .post-side__liked-user {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  width: 70%;
  text-align: right;
  margin-top: 2rem;
}
/* line 96, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .like-side__create {
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  width: 70%;
  text-align: right;
}
/* line 103, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .like-side__user {
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  width: 70%;
  text-align: right;
}
/* line 112, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .comment-side__form {
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  width: 70%;
  height: 10rem;
  text-align: center;
}
/* line 119, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .comment-side__form .new_comment {
  margin-top: 3rem;
}
/* line 121, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .comment-side__form .new_comment .form__message {
  width: 70%;
  height: 3rem;
}
/* line 125, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .comment-side__form .new_comment .form__submit {
  height: 3rem;
  width: 5rem;
}
/* line 131, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .comment-side__index {
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  width: 70%;
  height: 10rem;
  text-align: center;
}
/* line 138, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .comment-side__index .comments {
  margin-right: 69rem;
  font-size: 4rem;
  height: 6rem;
}
/* line 145, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .comment-side__index .table tbody tr {
  height: 9rem;
}
/* line 147, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .comment-side__index .table tbody tr td {
  width: 60rem;
}
/* line 149, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .comment-side__index .table tbody tr td a {
  width: 135%;
  display: inline-block;
  height: 7rem;
  text-decoration: none;
}
/* line 156, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .comment-side__index .table tbody tr .sender {
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  width: 20rem;
  text-align: right;
}
/* line 170, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .comment-side__index .pages .pagination {
  justify-content: center;
}
/* line 172, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .comment-side__index .pages .pagination span {
  margin-right: 20px;
  font-size: 25px;
  margin-bottom: 20px;
}
/* line 176, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper .chat-area .comment-side__index .pages .pagination span a {
  color: black;
}
/* line 185, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/posts.show.scss */
.wrapper a {
  color: black;
}
