@charset "UTF-8";
/* line 1, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/signup.scss */
.wrapper {
  background-image: url("/images/white_wood.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}
/* line 7, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/signup.scss */
.wrapper .main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
/* line 13, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/signup.scss */
.wrapper .form {
  width: 40%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
/* line 18, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/signup.scss */
.wrapper .form .new_user {
  width: 100%;
  height: 100%;
}
/* line 21, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/signup.scss */
.wrapper .form .new_user .field {
  width: 100%;
  border: none;
  margin: 15px 0px 15px 0px;
  background-color: white;
  border-radius: 5px;
}
/* line 27, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/signup.scss */
.wrapper .form .new_user .field input, .wrapper .form .new_user .field textarea {
  width: 100%;
  border: none;
  background-color: white;
  font-size: 18px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  opacity: 0.9;
  padding: 10px 0px 10px 0px;
  border-radius: 5px;
  border: none;
}
/* line 39, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/signup.scss */
.wrapper .form .new_user .file-field {
  width: 100%;
  border: none;
  margin: 15px 0px 15px 0px;
  padding: 10px 0px 10px 0px;
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  opacity: 0.9;
}
/* line 49, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/signup.scss */
.wrapper .form .new_user .file-field input, .wrapper .form .new_user .file-field textarea {
  font-size: 18px;
  border: none;
}
/* line 53, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/signup.scss */
.wrapper .form .new_user .file-field #user_image {
  display: none;
}
/* line 57, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/signup.scss */
.wrapper .form .new_user .file-field .image .fas {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 65, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/signup.scss */
.wrapper .form .actions {
  width: 100%;
}
/* line 67, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/signup.scss */
.wrapper .form .actions input {
  color: white;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;
  background: lightseagreen;
  cursor: pointer;
  border: none;
}
