@charset "UTF-8";
/* line 1, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper {
  background-image: url("/images/cup.jpg");
  background-size: cover;
  min-height: 165vh;
  background-attachment: fixed;
  background-position: center;
}
/* line 7, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .main {
  padding-top: 50px;
}
/* line 10, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .upper {
  display: flex;
  justify-content: space-around;
}
/* line 13, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .upper .profile {
  display: flex;
}
/* line 15, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .upper .profile .image {
  margin-bottom: 20px;
}
/* line 17, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .upper .profile .image img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
}
/* line 23, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .upper .profile .datas {
  padding-top: 80px;
  padding-left: 130px;
}
/* line 26, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .upper .profile .datas .name {
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
/* line 30, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .upper .profile .datas .name a {
  text-decoration: underline;
  color: black;
}
/* line 35, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .upper .profile .datas .posts-count {
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
/* line 40, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .upper .profile .datas .likes-count {
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
/* line 45, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .upper .profile .datas .liked-posts {
  margin-bottom: 20px;
}
/* line 47, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .upper .profile .datas .liked-posts .accordion {
  width: 300px;
}
/* line 49, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .upper .profile .datas .liked-posts .accordion .card {
  background-color: gray;
}
/* line 52, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .upper .profile .datas .liked-posts .accordion .card .card-header .btn {
  color: white;
  padding: 0px;
  font-size: 16px;
}
/* line 60, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .upper .profile .datas .liked-posts .accordion .card .collapse .card-body a {
  color: white;
  font-size: 16px;
}
/* line 68, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .upper .profile .datas .liked-posts .card-body {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
/* line 77, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .upper .edit {
  margin-top: 100px;
}
/* line 81, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* line 85, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .footer .posts-index {
  margin-top: 100px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
/* line 90, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .footer .posts-index .desc_about_post {
  font-size: 18px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  text-align: center;
  color: lightseagreen;
}
/* line 96, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .footer .posts-index .new_post_button {
  display: block;
  position: relative;
  width: 64%;
  padding: 10px 0;
  margin: 10px auto;
  background-color: lightseagreen;
  box-shadow: 0 5px 0 0 gray;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  color: #fff;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}
/* line 112, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .footer .posts-index .new_post_button a {
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}
/* line 119, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .footer .posts-index .new_post_button:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  box-shadow: none;
  -webkit-transform: translateY(3px);
}
/* line 126, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .footer .posts-index .table {
  width: 100%;
  font-size: 25px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
/* line 130, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .footer .posts-index .table tbody {
  font-size: 18px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}
/* line 134, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .footer .posts-index .table tbody tr .like {
  width: 13%;
}
/* line 136, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .footer .posts-index .table tbody tr .like .fas {
  color: lightseagreen;
}
/* line 140, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .footer .posts-index .table tbody tr td {
  padding: 30px;
}
/* line 142, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .footer .posts-index .table tbody tr td a {
  width: 100%;
  text-decoration: none;
  display: inline-block;
}
/* line 148, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .footer .posts-index .table tbody tr .date {
  width: 23%;
}
/* line 155, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .footer .pages {
  margin-top: 50px;
}
/* line 157, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .footer .pages .pagination {
  justify-content: center;
}
/* line 159, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .footer .pages .pagination span {
  margin-right: 20px;
  font-size: 18px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  margin-bottom: 20px;
}
/* line 164, /Users/yamazakimitsuhiko/projects/gohan2/app/assets/stylesheets/users.show.scss */
.wrapper .footer .pages .pagination span a {
  color: black;
}
