.notification {
  .notice {
    background-color: lightseagreen;
    color: white;
    text-align: center;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  }
  .alert {
    background-color: #black;
    color: white;
    text-align: center;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  }
}
