.wrapper{
  background-image: url("/images/dish&cloth.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  .main{
    position: relative;
    h{
      position: absolute;
      color: white;
      font-weight: bold;
      font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
      font-size: 30px;
      padding: 64px 0px 0px 21px;
    }
  }
}
