.wrapper{
  background-image: url("/images/milk.jpg");
  background-size: cover;
  min-height: 265vh;
  background-attachment: fixed;
  background-position: center;
  .main{
    padding-top: 50px;
  }
  .images{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .view{
      iframe{
        border-radius: 5px;
      }
    }
  }
    .post__image{
      img{
        border-radius: 5px;
      }
    }
  .chat-area{
    .post-side{
      width: 70%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      border: solid;
      margin: top;
      margin-top: 50px;
      border-radius: 10px;
      &__title{
        display: flex;
        justify-content: space-around;   
        border-bottom: dotted;
        font-size: 20px;
        font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
        padding: 12px;
        .post__likes{
          .button_to{
            display: inline-block;
            button{
              background-color: transparent;
              border: none;
              .like{
                color: lightseagreen;
                font-size: 20px;
              }
              .dislike{
                color:black;
                font-size: 20px;
              }
            }
          }
        }
      }
      &__content{
        font-size: 20px;
        font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
        padding: 12px;
        width: 100%;
        height: 135px;
        overflow: scroll;
        word-wrap: break-word;
      }
      &__sender{
        font-size: 18px;
        font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
        text-align: right;
        padding: 12px;
      }
      &__edit{
        font-size: 18px;
        font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
        text-align: right;
        padding: 13px;
        .btn{
          font-size: 18px;
          text-decoration: underline;      
          .about_delete_button{
            font-size: 18px;
            font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
          }
        }
        a{
          text-decoration: underline;
        }
      }
      &__liked-user{
        font-size: 18px;
        font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
        text-align: right;
        padding: 13px;
        overflow: scroll;
        height: 85px;
      }
    }
    .like-side{
      &__create{
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
        font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
        width: 70%;
        text-align: right;
      }
      &__user{
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
        font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
        width: 70%;
        text-align: right;
      }
    }
    .comment-side{
      &__form{
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
        font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
        width: 70%;
        text-align: center;
        .new_comment{
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          input{
            border: none;
          }
          .form__message{
            width: 85%;
            border-radius: 5px;
            font-size: 20px;
            font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
            overflow: scroll;
            height: 90px;
            line-height: 30px;
            padding-left: 5px;
          }
          .form__submit{
            height: 50px;
            width: 13%;
            border-radius: 5px;
            background-color: lightseagreen;
            color: white;
            font-size: 18px;
          }
        }
      }
      &__index{
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
        width: 55%;
        height: auto;
        text-align: center;
        padding-top: 20px;
        .comments{
          font-size: 50px;
          display: table;
        }
        .table{
          height: auto;
          table-layout: fixed; 
          tbody{
            height: auto;
            tr{
              height: auto;
              td{
                text-align: left;
                line-height: auto;
                padding: 10px;
                height: 86px;
                font-size: 20px;
                font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
                width: 77%;
                word-wrap: break-word;
                  p{
                    width: 100%;
                    display: inline-block;
                    text-decoration: none;
                    height: 114px;
                    overflow: scroll;
                  }
              }
              .sender{
                margin-left: auto;
                margin-right: auto;
                text-align: right;
                width: 25%;
                font-size: 18px;
                font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
                .button_to{
                  input{
                    border: none;
                    background: none;
                    text-decoration: underline;
                  }
                }
                a{
                  height: auto;
                  text-align: right;
                  width: auto;
                  font-size: 20px;
                }
              }
            }
          }
        }
        .pages{
          .pagination{
            justify-content: center;
            span{
              margin-right: 20px;
              font-size: 18px;
              font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
              margin-bottom: 20px;
              a{
                color: black;
              }
            }
          }
        }
      }
    }
  }
  a{
    color: black;
  }
}