.main{
  background-image: url("/images/white_wall.jpeg");
  min-height: 170vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  .carousel-inner{
    padding: 0px 30px 30px 30px;
    .carousel-item{
      padding-top: 20px;
    }
    .icon_about_slide{
      font-size: 30px;
    }
    .desc_about_slide{
      font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
      font-size: 20px;
    }
    .card{
      width: 400px;
      height: 400px;
      border-radius: 50%;
      border:none;
      }
    img{
      border-radius: 50%; 
      .iframe-card-wrap{
        width: 50%;
        height: 50%;
      }
    }
    .heart{
      color:lightseagreen;
      font-size: 20px;
    }
  }
  .posts-index{
    justify-content: center;
    margin-top: 50px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    .icon_about_index{
      font-size: 50px;
    }
    .desc_about_index{
      font-size: 20px;
      font-weight: bold;
    }
    .table{
      font-size: 20px;
      font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      .like{
        width: 10%;
      }
      td{
        width: 50%;
      }
      a{
        width: 100%;
        text-decoration: none;
        color: black;
        display: inline-block;
      }
      .fas{
        color:lightseagreen;
      }
      .sender{
        width: 20%;
        font-size: 18px;
        font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
      }
    }
  }
  .pages{
    margin-top: 50px;
    .pagination{
      justify-content: center;
      span{
        margin-right: 20px;
        font-size: 18px;
        font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
        margin-bottom: 20px;
        a{
          color: black;
        }
      }
    }
  }
}