.wrapper{
  background-image: url("/images/milk.jpg");
  background-size: cover;
  min-height: 200vh;
  background-attachment: fixed;
  background-position: center;
  .images{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .view{
      iframe{
        border-radius: 5px;
      }
    }
  }
    .post__image{
      img{
        border-radius: 5px;
      }
    }
  .chat-area{
    .post-side{
      width: 70%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      border: solid;
      margin: top;
      margin-top: 50px;
      border-radius: 10px;
      

      &__title{
        display: flex;
        justify-content: space-around;   
        border-bottom: dotted;
        font-size: 20px;
        padding: 12px;

        .post__likes{
          .button_to{
            display: inline-block;
            button{
              background-color: transparent;
              border: none;
              .like{
                color: red;
                font-size: 20px;
              }
              .dislike{
                color:black;
                font-size: 30px;
              }
            }
          }
        }
      }
      &__content{

        font-size: 20px;
        text-align: center;
        padding: 12px;
      }
      &__sender{
        font-size: 18px;
        text-align: right;
        padding: 12px;
      }
      &__edit{
        font-size: 18px;
        text-align: right;
        padding: 13px;
        a{
          text-decoration: underline;
        }
      }
      &__liked-user{
        font-size: 18px;
        text-align: right;
        padding: 13px;
      }
    }
    .like-side{
      &__create{
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
        width: 70%;
        text-align: right;
      }
      &__user{
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
        width: 70%;
        text-align: right;
      }
    }
    .comment-side{
      &__form{
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
        width: 70%;
        text-align: center;
        
        .new_comment{
          margin-top: 20px;
          .form__message{
            width: 89%;
            height: 50px;
            border-radius: 5px;
            font-size: 20px;


          }
          .form__submit{
            height: 50px;
            width: 10%;
            border-radius: 5px;
            background-color: gray;
            color: white;
          }
        }
      }
      &__index{
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        width: 55%;
        height: auto;
        text-align: center;
        padding-top: 20px;
        .comments{
          font-size: 50px;
          display: table;

        }
        .table{
          height: auto;

          tbody{
            height: auto;

            tr{
              height: auto;

              td{
                text-align: left;
                line-height: auto;
                padding: 10px;
                height: auto;

                  a{
                    display: inline-block;
                    text-decoration: none;
                    height: auto;
                  }
              }
              .sender{
                margin-left: auto;
                margin-right: auto;
                text-align: right;
                width: 25%;
                font-size: 18px;
              }
              
            }

          }
        }
        
        .pages{
          .pagination{
            justify-content: center;
            span{
              margin-right: 20px;
              font-size: 18px;
              margin-bottom: 20px;
              a{
                color: black;
              }
            }
          }
        }
      }
    }
  }
  a{
    color: black;
  }
}
