.main{
  background-size: cover;
  height: 100%;
  background-image: url(/images/knives.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .description{
    text-align: center;
  }
  .form {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    input, textarea {
      width: 100%;
      border: none;
      margin: 10px;
      padding: 10px;
      background-color: white;
      border-radius: 5px;
      font-size: 18px;
      font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
      opacity: 0.9;
      &[type=submit] {
        background: lightseagreen;
        color: #fff;
        width: 100%;
        cursor: pointer;
      }
    }
    .content{
      height: 100px;
    }
  }
  * {
    box-sizing: border-box;
  }
}