.wrapper{
  background-image: url("/images/begin.jpg");
  background-size: cover;
  .form {
    width: 40%;
    margin: 10% auto;
    min-width: 9rem;
    margin-left: 30px;
    input, textarea {
      float: left;
      width: 70%;
      max-width: 100%;
      border: none;
      margin: 0.5rem 0;
      padding: 0.5rem 1rem;
      border-radius: 0.3rem;
      background: darken(#f9f9f9, 10%);
      color: darken(#f9f9f9, 50%);
      height: 2.5rem;
      opacity: 0.9;
    }
    .field-remember{
      width: 20%;
    }
    .actions{
      width: 30%;
      input{
        background-color: gray;
        color: white;
      }
    }

  }
}