.wrapper{
  background-image: url("/images/cup.jpg");
  background-size: cover;
  min-height: 200vh;
  background-attachment: fixed;
  background-position: center;
  a{
    color: white;
  }
  .upper{
    display: flex;
    justify-content: space-around;
    .profile{
      display: flex;
      .image{
        margin-bottom: 20px;
        img{
          border-radius: 50%;
          width: 400px;
          height: 400px;
        }
      }
      .datas{
        padding-top: 80px;
        padding-left: 130px;
        .name{
          margin-bottom: 20px;
          font-size: 18px;
          font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";

          a{
            text-decoration: underline;
            
          }

        }
        .posts-count{
          margin-bottom: 20px;
          font-size: 18px;
          font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";


        }
        .likes-count{
          margin-bottom: 20px;
          font-size: 18px;
          font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";


        }
        .liked-posts{
          margin-bottom: 20px;
          .accordion{
            width: 300px;

          }
          .card-body{
            display: flex;
            flex-direction: column;
            font-size: 18px;
            font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";

          }
        }
      }
    }
    .edit{
      margin-top:100px;
    }
  }
  .footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .posts-index{
      margin-top: 100px;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      .table{
        width: 100%;
        font-size:25px;
        font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";

        tbody{
          font-size: 18px;
          font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";


          tr{
            .like{
              width: 13%;

              .fas{
                color:red;
              }
            }
            td{
              padding: 30px;

              a{
                width: 100%;
                text-decoration: none;
                display: inline-block;

              }
              
            }
            .date{
              width: 23%;

            }
          }
        }
      }  
    }
    .pages{
      .pagination{
        justify-content: center;
        span{
          margin-right: 20px;
          font-size: 25px;
          font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";

          margin-bottom: 20px;
          a{
            color: black;
          }
        }
      }
    }
  }
}