.wrapper{
  background-image: url("/images/cup.jpg");
  background-size: cover;
  min-height: 200vh;
  background-attachment: fixed;
  background-position: center;
  a{
    color: black;
  }
  .main{
    padding-top: 50px;
  }
  .upper{
    display: flex;
    justify-content: space-around;
    .profile{
      display: flex;
      .image{
        margin-bottom: 20px;
        img{
          border-radius: 50%;
          width: 400px;
          height: 400px;
        }
      }
      .datas{
        padding-top: 80px;
        padding-left: 130px;
        .name{
          margin-bottom: 20px;
          font-size: 18px;
          font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
          a{
            text-decoration: underline;
          }
        }
        .posts-count{
          margin-bottom: 20px;
          font-size: 18px;
          font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
        }
        .likes-count{
          margin-bottom: 20px;
          font-size: 18px;
          font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
        }
        .liked-posts{
          margin-bottom: 20px;
          .accordion{
            width: 300px;
            .card{
              background-color: gray;
              .card-header{
                .btn{
                  color:white;
                  padding: 0px;
                  font-size: 16px;
                }
              }
              .collapse{
                .card-body{
                  a{
                    color:white;
                    font-size: 16px;
                  }
                }
              }
            }
          }
          .card-body{
            display: flex;
            flex-direction: column;
            font-size: 18px;
            font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
          }
        }
      }
    }
    .edit{
      margin-top:100px;
    }
  }
  .footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .posts-index{
      margin-top: 100px;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      .desc_about_post{
        font-size: 18px;
        font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
        text-align: center;
        color:lightseagreen;
      }
      .new_post_button{
        display: block;
        position: relative;
        width: 64%;
        padding: 10px 0;
        margin: 10px auto;
        background-color: lightseagreen;
        box-shadow: 0 5px 0 0 gray;
        border-radius: 5px;
        font-size: 18px;
        font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
        color: #fff;
        text-align: center;
        text-decoration: none;
        overflow: hidden;
        transition: 0.2s;
        a{
          color: white;
          text-decoration: none;
          display: inline-block;
          width: 100%;
        }
      }
      .new_post_button:hover{
        text-decoration: none;
        color: #fff;
        opacity: 0.7;
        box-shadow: none;
        -webkit-transform: translateY(3px);
      }
      .table{
        width: 100%;
        font-size:25px;
        font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
        tbody{
          font-size: 18px;
          font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
          tr{
            .like{
              width: 13%;
              .fas{
                color:lightseagreen;
              }
            }
            td{
              padding: 30px;
              a{
                width: 100%;
                text-decoration: none;
                display: inline-block;
              }
            }
            .date{
              width: 23%;
            }
          }
        }
      }  
    }
    .pages{
      .pagination{
        justify-content: center;
        span{
          margin-right: 20px;
          font-size: 25px;
          font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
          margin-bottom: 20px;
          a{
            color: black;
          }
        }
      }
    }
  }
}